footer.footer
    .container
        span.text Følg oss i sosiale medier
        .social-media
            ul
                li: a(href="http://www.facebook.com"): img(src="icons/facebook.svg")
                li: a(href="http://www.instagram.com"): img(src="icons/instagram.svg")
                li: a(href="http://www.linkedin.com"): img(src="icons/linkedin.svg")
                //li: a(href="http://www.facebook.com"): img(src="icons/snapchat.svg")
        .copyright
            span &copy; 2017 RAINTECH