#navigation
	.button_container#toggle
		span.top
		span.middle
		span.bottom

	.nav-overlay#nav-overlay
		nav.overlay-menu
			ul
				li: a.nav-link(href="#services") Tjenester
				li: a.nav-link(href="#grunder") Gründer
				li: a.nav-link(href="#about-us") Om oss
				li: a.nav-link(href="#projects") Prosjekter
				li: a.nav-link(href="#contact") Kontakt