nav#navigation(class=["navbar", "navbar-default", "navbar-fixed-top"] data-spy="affix" data-offset-top="200")
	.container 
		img.brand(src="images/logo-final-optimized.svg")
		.button_container#toggle
			span.top
			span.middle
			span.bottom
			.button-text MENU

	.nav-overlay#nav-overlay
		nav.overlay-menu
			ul
				li: a.nav-link(href="#services") Tjenester
				li: a.nav-link(href="#grunder") Gründer
				li: a.nav-link(href="#about-us") Om oss
				li: a.nav-link(href="#projects") Prosjekter
				li: a.nav-link(href="#contact") Kontakt