extends ./layouts/layout

block content
	header#hero1.background
		.overlay
		img(src="images/logo-new.svg")
	section#services
		.icons
			.container-fluid
				.row
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.phone-icon
								span APPUTVIKLING
							span.toggle Vi utvikler våre mobile løsninger med hybridteknologi som gjør at din app blir tilgjengelig på flere plattformer.

					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.mac-icon
								span WEBUTVIKLING
							span.toggle En webside er idag et av de viktigste... Vi hjelpe deg med å lage en god og informativ webside til din bedrift.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.design-icon
								span DESIGN
							span.toggle Shaping a creative identity, rich and versatile. Enhance your corporate image. that leave an impression
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.system-icon
								span WEBAPPLIKASJONER
							span.toggle Shaping a creative identity, rich and versatile. Enhance your corporate image.
					
				.row
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.search-icon
								span SEO
							span.toggle Vi hjelper deg med å lage en MVP/prototype til produktet ditt. Med det kan du teste konseptet i markedet før du går videre med utviklingen.

					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.lightbulb-icon
								span MODERNE LØSNINGER
							span.toggle Vi benytter oss alltid av de siste og nyeste teknologiene, for å forsikre oss om at det vi leverer alltid er oppdatert.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.responsive-icon
								span RESPONSIVT DESIGN
							span.toggle Shaping a creative identity, rich and versatile. Enhance your corporate image.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.tool-icon
								span KVALITET
							span.toggle Shaping a creative identity, rich and versatile. Enhance your corporate image.

	#hero2.intersection
		.overlay
			.text
				span VI SETTER <span style="color: #f1a32c;">IDÉER</span> UT I <span style="color: #f1a32c;">LIVET.</span>

	section#grunder
		.container-fluid
			.text-block
				h2.text-header Er du en <span style="color: #f1a32c;">gründer</span>?
				p.text-content Har du en <span style="color: #f1a32c;">forretnindsidée</span> som du har lyst til å relalisere? Vi hjelper deg!
			.icons.row
				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.code-icon
							span MVP
						span.toggle Vi hjelper deg med å lage en MVP/prototype til produktet ditt. Med det kan du teste konseptet i markedet før du går videre med utviklingen.

				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.price-icon
							span GRÜNDERVENNLIG PRIS
						span.toggle Vi vet at gründere ikke er de med best råd. Vi har derfor en gründervennlig pris som gjør at du kan investere pengene videre i produktet.
				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.clock-icon
							span LEVERINGSTID
						span.toggle En av de store fordelene med å lage MVP er 

	#hero3.intersection
		.overlay
			.text
				span Du har <span style="color: #f1a32c;">idéene</span> - vi har <span style="color: #f1a32c;">kunnskapene.</span>
	section#about-us
		.container
			.text-block
				.row
					.col-md-2
						h2.text-header HVEM ER <span style="color: #f1a32c;">VI</span>
					.col-md-10
						p.text-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis quam at urna aliquam, varius blandit massa molestie. 
							| Aliquam sit amet lacinia ligula. Proin interdum risus arcu, et aliquet risus mattis tincidunt. Duis erat ligula, iaculis eu aliquet non.
							br
							br
							| Aliquam sit amet lacinia ligula. Proin interdum risus arcu, et aliquet risus mattis tincidunt. Duis erat ligula, iaculis eu aliquet non.
							| Aliquam sit amet lacinia ligula. Proin interdum risus arcu, et aliquet risus mattis tincidunt. Duis erat ligula, iaculis eu aliquet non.
	
	section#projects
		h2 HVA VI HAR <span style="color: #f1a32c;">JOBBET</span> MED
		.container
			.row
				.col-md-6
					.image-container.center-block
							img(src="images/hoban.png")
				.col-md-6
					.image-container.center-block
							img(src="images/blueways.png")

	section#contact
		.container
			h2 JOBBE MED OSS?
			.form-container.center-block
				form(action="https://formspree.io/rina.andriana@outlook.com" method="POST")
					ul
						li: input(type="text" name="name" placeholder="Navn" required)
						li: input(type="email" name="_replyto" placeholder="Epost" required)
						li: input(type="number" name="mobile" placeholder="Mobil")
						li: input(type="text" name="_subject" placeholder="Emne" required)
					textarea(rows="5" name="message" placeholder="Melding" required)
					input#submitbutton(type="submit" value="SEND")

