extends ./layouts/layout

block content
	header#hero1.background
		.overlay
		img(src="images/logo-new.svg").fadein
	section#services
		.icons
			.container-fluid
				.row
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.phone-icon
								span APPUTVIKLING
							span.toggle Vi utvikler våre mobile løsninger med hybridteknologi som gjør at din app blir tilgjengelig på flere plattformer.

					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.mac-icon
								span WEBUTVIKLING
							span.toggle.responsive-text En webside er i dag et av de viktigste verktøyene for å markedsføre din virksomhet. Vi hjelper deg med å lage en god og informativ webside til din bedrift.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.design-icon
								span DESIGN
							span.toggle.responsive-text Vi er opptatt av detaljer, og vi legger stor vekt på design og estetikk. Det er viktig at en webside ser bra ut for å tiltrekke seg flest mulig kunder.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.system-icon
								span WEBAPPLIKASJONER
							span.toggle.responsive-text I tillegg til websider påtar vi oss også større prosjekter. Webapplikasjoner er websider som har noe mer funksjon enn bare informasjon.
					
				.row
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.search-icon
								span SEO
							span.toggle Vi søkemotoroptimaliserer din webside, slik at du oppnår høyere rangering på Google og andre søkemotorer. 

					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.lightbulb-icon
								span MODERNE LØSNINGER
							span.toggle Vi benytter oss alltid av de siste og nyeste teknologiene, for å forsikre oss om at det vi leverer alltid er oppdatert.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.responsive-icon
								span RESPONSIVT DESIGN
							span.toggle.responsive-text En responsiv webside er en side som tilpasser seg automatisk etter skjermstørrelsen, slik at den ser og føles kjent ut uansett enhet.
					.col-md-3.col-sm-6.no-padding
						.content.toggle-info
							.inner
								.tool-icon
								span KVALITET
							span.toggle.responsive-text Vi gjør alltid vårt ytterste for å levere et produkt med høy kvalitet. Å utvikle noe som gir verdi for kunden er noe vi setter høyt her i Raintech.

	#hero2.intersection
		.overlay
			.text.fadein
				span VI SETTER <span style="color: #f1a32c;">IDÉER</span> UT I <span style="color: #f1a32c;">LIVET.</span>

	section#grunder
		.container-fluid
			.text-block
				h2.text-header Er du en <span style="color: #f1a32c;">gründer</span>?
				p.text-content Har du en <span style="color: #f1a32c;">forretningsidé</span> som du har lyst til å realisere? Vi hjelper deg!
			.icons.row
				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.code-icon
							span MVP
						span.toggle Vi hjelper deg med å lage en MVP/prototype til produktet ditt. Med det kan du teste konseptet i markedet før du går videre med utviklingen.

				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.price-icon
							span GRÜNDERVENNLIG PRIS
						span.toggle Vi vet at gründere ikke er de med best råd i starten. Vi har derfor en gründervennlig pris som gjør at du kan investere pengene andre steder i selskapet.
				.col-md-4.col-sm-4.no-padding
					.content.toggle-info
						.inner
							.clock-icon
							span VIDEREUTVIKLING
						span.toggle Har du testet konseptet i markedet og har lyst til å videreutvikle prototypen? Ta kontakt så kan vi diskutere veien videre. Vi bistår med både det tekniske og det visuelle rundt konseptet.

	#hero3.intersection
		.overlay
			.text.fadein
				span Du har <span style="color: #f1a32c;">idéene</span> - vi har <span style="color: #f1a32c;">kunnskapene.</span>
	section#about-us
		.container
			.text-block
				.row
					.col-md-2
						h2.text-header HVEM ER <span style="color: #f1a32c;">VI.</span>
					.col-md-10
						p.text-content Raintech er et nyetablert mobil- og webutviklingsbyrå som ble startet tidlig 2017 av Rina Andriana. Han fungerer som daglig leder og står samtidig for 
							| all utvikling i bedriften.
							|Vi jobber for å skape løsninger og produkter som gir verdi for kundene våre. For oss er det viktig at kundene får den kvaliteten de forventer.
							br
							br
							| Vi jobber primært mot bedrifter, organisasjoner og institusjoner, men tar også oppdrag fra private. I tillegg ønsker også vi å samarbeide
							| med gründere og nyetablerte bedrifter som trenger hjelp med det tekniske og det visuelle rundt selskapet. Er du en gründer som skal eller nettopp har startet egen virksomhet?
							| Ikke nøl med å ta kontakt for en uforpliktet samtale.
	
	section#projects
		h2 HVA VI HAR <span style="color: #f1a32c;">JOBBET</span> MED.
		.container
			.row
				.col-md-6
					a(href="http://www.goserviceas.no").image-container.center-block
						.overlay
							.overlay-text Go' Service AS
						img(src="images/goserviceimg.png")
				.col-md-6
					a(href="http://www.blue-ways.org").image-container.center-block
						.overlay
							.overlay-text Blueways
						img(src="images/blueways.png")
			.row
				.col-md-6
					a(href="http://www.hobanservicegroup.no/hjem").image-container.center-block
						.overlay
							.overlay-text Hoban Renhold AS
						img(src="images/hoban.png")
							
				
							

	section#contact
		.container
			h2 JOBBE MED <span style="color: #f1a32c;">OSS?</span>
			.form-container.center-block
				form(action="https://formspree.io/post@raintech.no" method="POST")
					ul
						li: input(type="text" name="name" placeholder="Navn" required)
						li: input(type="email" name="_replyto" placeholder="Epost" required)
						li: input(type="number" name="mobile" placeholder="Mobil")
						li: input(type="text" name="_subject" placeholder="Emne" required)
					input(type="hidden" name="_format" value="plain")
					textarea(rows="5" name="message" placeholder="Melding" required)
					input#submitbutton(type="submit" value="SEND")

