#hero1 {
    /* deactivate on mobile devices*/
    //background: url("../images/raintech-header-2.jpeg");
    @include background-props;
    height: 90vh;

    img {
        position: absolute;
        width: 90%;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .overlay {
        background-color: rgba(54, 92, 124,0.9);
        //background-color: $main-blue;
    }
}

#hero2 {
    /* deactivate on mobile devices
    background: url("../images/light.jpeg"); */
    @include background-props;

    .text {
        padding: 0 20px;
    }
}

#hero3 {
    @include background-props;

    .overlay {
        background-color: rgb(54, 92, 124);

        .text {
            padding: 0 10px;
            font-size: 1.6em;
            font-weight: 100;
            top: 25%;
        }
    }
}

.background {
    position: relative;
    width: 100%;
}

.overlay {
    height: 100%;
    background-color: rgba(54, 92, 124,0.9);
    position: relative;

    .text {
        position: absolute;
        top:35%; 
        width:100%;
        font-size: 2em;
    }
}

@media (min-width: $screen-sm-min) {
    #hero1 {
        img {
            width: 75%;
        }
    }

    #hero2 {
        .text {
            font-size: 2.6em;
        }
    }

    #hero3 {
        height: 190px;
        .overlay .text {
            font-size: 2em;
            padding: 0 50px;
        }
    }
}