body {
    font-family: 'open-sans', sans-serif;
    height: 5000px;
}

#hero1 {
    background: url("../images/raintech-header-blue.png");
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;

    height: 100vh;

    img {
        position: absolute;
        top: 35%;
        left: 25%;
    }
}

#hero2 {
    background: url("../images/light.jpeg");
    background-size: auto;
    background-position:center center;
    background-attachment:fixed;
}

.background {
    position: relative;
    width: 100%;
}

#about {
    .content {
        height: 410px;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        @include background-color-transition();
        
        .inner {
            position: absolute;
            bottom: 100px;
            left: 0;
            right: 0;
            margin: auto;
            @include transform-transition();

            img {
                display: block;
                margin: 0 auto;
                height: 125px;
                @include transform-transition();
            }

            span {
                margin-top: 50px;
                display: block;
                text-align: center;
                font-weight: 500;
                font-size: 1.3em;
                @include transform-transition();
            }
        }

        .toggle {
            color: #fff;
            position: absolute;
            background-color: #ffa64d;
            bottom: 0;
            height: 200px;
            padding: 30px;
            text-align: center;
            font-weight: 300;
            line-height: 1.5em;
            font-size: 1.5em;
            @include transformY(100%);
            @include transform-transition();
        }
    }

    .content:hover {
        background-color: #ffa64d;
        .inner {
        
            img {
                 @include transformY(-80px);
            }

            span {
                @include transformY(-100px);
            }
           
        }
        .toggle {
            @include transformY(0);
        }
    }
}

#about-us {
        margin-top: 70px;
        margin-bottom: 70px; 

    p {
        text-align: justify;
        font-size: 2em;
        padding: 50px;
        line-height: 1.8em;
        font-weight: 300;
    }
}

#projects {
    .image-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        img {
            width: 100%;
        }
    }
    
}

.intersection {
    text-align: center;
    color: #fff;
}

.no-padding {
    padding: 0;
}

.overlay {
    height: 350px;
    background-color: rgba(51, 153, 255, 0.4);
    position: relative;

    .text {
        position: absolute;
        top:40%; 
        width:100%;
        font-size: 4em;
    }
}

.push-down-100 {
    margin-top: 100px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 300;
}