body {
    font-family: 'open-sans', sans-serif;
    background-color: $background-color;

    h2 {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.2em;
        font-weight: 300;
    }

    p {
        text-align: justify;
        line-height: 1.8em;
        font-weight: 300;
    }
}

.icons {
    background-color: $primary-color;
    padding-top: 25px;
    .content {
        height: 320px;
        position: relative;
        overflow: hidden;
        background-color: $background-color;
        @include background-color-transition();
        
        .inner {
            position: absolute;
            bottom: 80px;
            left: 0;
            right: 0;
            margin: auto;
            @include transform-transition();

            span {
                margin-top: 50px;
                display: block;
                text-align: center;
                font-weight: 500;
                font-size: 1.3em;
                @include transform-transition();
            }
        }

        .toggle {
            color: #fff;
            position: absolute;
            background-color: $primary-color;
            bottom: 0;
            height: 130px;
            padding: 10px 30px 0;
            text-align: center;
            font-weight: 300;
            line-height: 1.5em;
            font-size: 1.3em;
            @include transformY(100%);
            @include transform-transition();
        }
    }

    .content:hover, .active-info {
        background-color: $primary-color;
        .inner {
            span {
                @include transformY(-80px);
            }
        }
        .toggle {
            @include transformY(-20%);
        }
    }
}

#about-us {
    margin-bottom: 70px;
}

#grunder {
    p {
        text-align: center;
        margin: 20px 0 30px 0;
        font-size: 1.3em;
        font-weight: 300;
    }
}

#projects {
    h2 {
        margin-bottom: 25px;
    }
    .image-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 30px;
        max-width: 555px;
        position: relative;

        img {
            width: 100%;
        }

        .overlay {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.0);
            position: absolute;
            @include background-color-transition();

            .overlay-text {
                text-align: center;
                font-size: 3.5em;
                color: $primary-color;
                opacity: 0;
                padding-top: 20%;
                @include transition(opacity);
            }
        }

        &:hover {
            .overlay {
                background-color: rgba(0, 0, 0, 0.8);

                .overlay-text {
                    opacity: 1;
                } 
            }
        }
    }
}

#contact {
    margin: 100px 0;
    .form-container {
        width: 70%;

        ul {
            @include listcolumns(2);
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 20px;

                input {
                    width: 100%;
                    height: 45px;
                    border: none;
                    border-bottom: 2px solid rgb(54, 92, 124);
                    font-size: 1.2em;
                }
            }
        }

        textarea {
            width: 100%;
            border: none;
            border-bottom: 2px solid rgb(54, 92, 124);
            margin-bottom: 20px;
            font-size: 1.2em;
        }

        input:focus, textarea:focus {
            outline: none
        }

        #submitbutton {
            background-color: #fff;
            color: rgb(54, 92, 124);
            padding: 10px 40px;
            font-size: 1.3em;
            border: 2px solid;
        }
    }
}

.footer {
    background-color: $main-blue;
    text-align: center;
    color: #fff;
    padding: 50px 0;

    .text {
        font-size: 1.2em;
    }

    ul {
        padding: 30px 0;
        li {
            display: inline;
            list-style: none;
            margin: 0 5px;

            img {
                width: 50px;
                background-color: #fff;
                border-radius: 100%;
                padding: 5px;
            }
        }
    }
}

.intersection {
    height: 200px;
    text-align: center;
    color: #fff;
}

.text-block {
    .text-header {
        font-size: 1.5em;
        margin-top: 50px;
    }

    .text-content {
        font-size: 1.3em;
        text-align: left;
    }
}

.no-padding {
    padding: 0;
}

.push-down-100 {
    margin-top: 100px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

