@mixin diagonal-gradient($color1, $color2) {
    background: $color1; 
    background: -webkit-linear-gradient(right top, $color1, $color2); 
    background: -o-linear-gradient(top right, $color1, $color2); 
    background: -moz-linear-gradient(top right, $color1, $color2); 
    background: linear-gradient(to top right, $color1, $color2); 
}

$transition-duration: 0.4s;

@mixin transformY($value) {
    -webkit-transform: translateY($value);
    -ms-transform: translateY($value);
    -moz-transform: translateY($value);
    -o-transform: translateY($value);
    transform: translateY($value);
}

@mixin transformX($value) {
    -webkit-transform: translateX($value);
    -ms-transform: translateX($value);
    -moz-transform: translateX($value);
    -o-transform: translateX($value);
    transform: translateX($value);
}  

@mixin transform-transition() {
    -webkit-transition: transform $transition-duration;
    -ms-transition: transform $transition-duration;
    -moz-transition: transform $transition-duration;
    -o-transition: transform $transition-duration;
    transition: transform $transition-duration;
}

@mixin transition($transition){
    -webkit-transition: $transition $transition-duration;
    -ms-transition: $transition $transition-duration;
    -moz-transition: $transition $transition-duration;
    -o-transition: $transition $transition-duration;
    transition: $transition $transition-duration;
}

@mixin multiple-transitions($transition...){
    -webkit-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin background-color-transition() {
    -webkit-transition: background-color $transition-duration;
    -ms-transition: background-color $transition-duration;
    -moz-transition: background-color $transition-duration;
    -o-transition: background-color $transition-duration;
    transition: background-color $transition-duration;
}

@mixin icon-props($icon-height) {
    background-position:center center;
    background-size: auto $icon-height;
    background-repeat: no-repeat;
}

@mixin background-props() {
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

@mixin listcolumns($number) {
    columns: $number;
    -webkit-columns: $number;
    -moz-columns: $number;
    -o-columns: $number;
}